body {
  background: #ececec;
}

a {
  color: #280582;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.App-header {
  margin: 30px 0;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
  font-size: 15px;
}

.App-footer a {
  text-decoration: none;
  margin: 10px 0;
}

.App-footer .github-icon {
  font-size: 22px;
}
